<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body { padding-top: 50px; }
  </style>
</head>

<body style="background-color:black;">

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Library!</h1>
    <p>Check out, read and return books here at the Online Library</p>
    
    <p>

    <%= link_to  '/main/bookList' , class: 'btn btn-default btn-lg' do %>
      Go to Library
      <i class="glyphicon glyphicon-circle-arrow-right"></i>
    <% end %>

    </p>
  </div>
</div>

</body
</html>
